<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>




  <connectionStrings>
    <add name="connstring" connectionString="Data Source=IPCHAAP.db.11505547.hostedresource.com; Initial Catalog=IPCHAAP; Integrated Security=false; User ID=IPCHAAP; Password='Rishabh#2192'"/>
  </connectionStrings>


  <system.net>
    <mailSettings>
      <smtp from="support@ipchaap.com">
        <network userName="support@ipchaap.com" password="ipchaap2192" host="smtpout.asia.secureserver.net" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>


  <system.web>
    <customErrors mode="Off"></customErrors>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="51200" executionTimeout="1200"/>

    <authentication mode="Forms">
      <forms timeout="30"/>
    </authentication>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<customErrors mode="On" defaultRedirect="404error.aspx">
      <error statusCode="403" redirect="404error.aspx"/>
      <error statusCode="404" redirect="404error.aspx" />
    </customErrors>-->
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"></remove>
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="connstring"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="15"
             minRequiredPasswordLength="7"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
  </system.web>

</configuration>
